[Unit]
Description=API PPP Dial Service
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/Volumes/Data/MyWorkspace/RPIZero-AP-PPP/WEBAPI
ExecStart=/Users/duonghuynhbao/.nvm/versions/node/v16.14.0/bin/node index.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-pppd-dial
[Install]
WantedBy=multi-user.target
