#issue-file /etc/issue.mgetty


port ttyACM0
 port-owner root
 port-group dialout
 port-mode 0660
 data-only yes
 ignore-carrier no
 toggle-dtr yes
 toggle-dtr-waittime 500
 rings 2
 speed 115200
 modem-check-time 160
 init-chat "" "ATQ0 V1 E0 S0=0 S2=128 &C1 &D2 +FCLASS=0" OK
 login-prompt \V\n\r\R \m\n\r\P \S (\I)\n\r(\Y)\n\r@ login:\040
 login-time 120 
 issue-file /etc/mgetty/issue.ttyACM0